.game
{
    width: 720px;
    border: solid 1px #ddd;
    margin: 0 auto;
   background: #3ac7fe;
border: solid 10px;
text-align:center;
min-height:430px;
}

.btn{
    border:none;
    padding: 10px 30px;
    border-radius:10px;
    cursor:pointer;
}

.btn:hover{
    background:dodgerblue;
}

.game h1
{
padding: 10px;
background:black;
color:white;
}

.game .card{
    width: 100px;
    height: 160px;
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 10pt;
    text-align: center;
    margin: 3px;
    border:solid 3px;
}

.btn
{
    background:#222;
    color:white !important;
    border-radius:0px;
}